.App {
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
}

.container {
    display: flex;
    height: 80vh;
    border: 1px solid gray;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: white;
}

.todoForm {
    display: flex;
    justify-content: space-around;
    width: 450px;
}

input {
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

button {
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin: 0 5px;
}

.allTodos {
    list-style: none;
    margin: 0;
    padding: 0;
}

.singleTodo {
    border-radius: 50px;
    margin: 10px 0;
    background-color: #5dadf8;
    padding: 10px 20px;
    display: flex;
    width: 450px;
    align-items: center;
}

.todoText {
    flex: 1;
}


















/* .radio-status {
    column-gap: 20px;
}

.table-delete-edit_btn {
    column-gap: 7px;
}

.table-delete-edit_btn i {
    font-size: 18px;
}

p {
    color: black;
    font-family: 15px;
    font-weight: 500;
}



/* .navbar-light {
    color: azure;
    position: absolute;
    top: 20px;
    right: 0;
}

.navbar-light>.container {
    text-align: center;
}

.navbar-light>.container>h3 {
    background-color: black;
    font-weight: bold;
    width: 180px;
    padding: 10px 0;
    border-radius: 20px;
}

p {
    font-size: large;
}

.outer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.inner {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: all .3s;
}

.outer .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
}

.outer h3 {
    font-weight: bold;
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}

label {
    font-weight: 600;
}

.forgot-password,
.forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
}

.forgot-password a {
    color: #167bff
} */